form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.formleft, .formright {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.inputgroup {
    display: flex;
    flex-direction: column;
}

.csspleaser {
    display: flex;
}